
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<h1>Stupid Coaching</h1>
<h3>Ask your coach anything</h3>

<form action="answer">
  <input type="text" name="answer">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>

</body>
</html>
